---
- name: Remove kmod-zfs package
  ansible.builtin.dnf:
    name: kmod-zfs
    state: absent

- name: Install zfs-release package
  ansible.builtin.dnf:
    name: "https://zfsonlinux.org/epel/zfs-release-3-0.el{{ ansible_facts['distribution_major_version'] }}.noarch.rpm"
    disable_gpg_check: true
    state: present

- name: Switch to zfs repository
  ansible.builtin.shell: |
    dnf config-manager --disable zfs-kmod
    dnf config-manager --enable zfs
  changed_when: false

- name: Install kernel-devel package
  ansible.builtin.dnf:
    name: kernel-devel
    state: present

- name: Install zfs package
  ansible.builtin.dnf:
    name: zfs
    state: present

- name: Load zfs kernel module
  community.general.modprobe:
    name: zfs
    state: present

- name: Create zfs-tuning.sh
  ansible.builtin.copy:
    src: zfs-tuning.sh
    dest: /usr/local/sbin/zfs-tuning.sh
    owner: root
    group: root
    mode: "0755"

- name: Install zfs-tuning service
  ansible.builtin.copy:
    src: zfs-tuning.service
    dest: /usr/lib/systemd/system/zfs-tuning.service
    owner: root
    group: root
    mode: "0644"

- name: Start zfs-tuning service
  ansible.builtin.service:
    name: zfs-tuning
    state: started
    enabled: true
