---
- name: Remove ZFS DKMS
  ansible.builtin.dnf:
    name: zfs-dkms
    state: absent

- name: Install ZFS repo
  ansible.builtin.dnf:
    name: "https://zfsonlinux.org/epel/zfs-release-2-3.el{{ ansible_distribution_major_version }}.noarch.rpm"
    disable_gpg_check: true
    state: present

- name: Switch ZFS repo to kmod
  ansible.builtin.shell: |
    dnf config-manager --disable zfs
    dnf config-manager --enable zfs-kmod
  changed_when: false

- name: Install ZFS kernel module
  ansible.builtin.dnf:
    name: zfs-kmod
    state: present

- name: Load ZFS kernel module
  community.general.modprobe:
    name: zfs
    state: present

- name: Create zfs-tuning.sh
  ansible.builtin.copy:
    src: zfs-tuning.sh
    dest: /usr/local/sbin/zfs-tuning.sh
    owner: root
    group: root
    mode: 0755

- name: Install zfs-tuning service
  ansible.builtin.copy:
    src: zfs-tuning.service
    dest: /usr/lib/systemd/system/zfs-tuning.service
    owner: root
    group: root
    mode: 0644

- name: Start zfs-tuning service
  ansible.builtin.service:
    name: zfs-tuning
    state: started
    enabled: true
